body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-second {
    color: #2E2F42;
}

.navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-left: 76px;
}

.navigation:hover,
.navigation:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

.main-section {
    background-color: #2E2F42;
    height: 600px;
}

.main-info {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
    padding-bottom: 48px;
    margin: 0 auto;
}

.button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
    padding: 16px 32px;
    margin-bottom: 188px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.info-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.block-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.name-mailn-section {
    display: none;
}

.our-team {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
}

.team {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #FFFFFF;
}

.our-team-section {
    background-color: #F4F4FD;
    height: 732px;
}

.member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}

.position {
    font-size: 16px;
}

.secttion-portfolio {
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 72px;
}

.portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding-top: 4px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.app {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 32px;
    padding-bottom: 4px;
    padding-left: 16px;
}

.footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 82px;
}

.logo-footer {
    color: #F4F4FD;
}

.footer-p {
    margin-top: 16px;
    display: block;
    max-width: 264px;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    list-style: none;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.page-header {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;

}

.contacts-list {
    display: flex;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-section {
    display: flex;
    height: 104 px;
    margin: 0 auto;
    gap: 24px;

}

.team-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
    flex-wrap: wrap;
    border-bottom: 1px;

}

.footer-container {
    display: flex;
    margin: 0 auto;
}